.profile__subtitle {
  max-width: 203px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  font-size: 18px;
}

@media (max-width: 574px) {
  .profile__subtitle {
    font-size: 3.136vw;
  }
}

@media (max-width: 470px) {
  .profile__subtitle {
    max-width: 160px;
    font-size: 14px;
  }
}