.element__invisible-checkbox[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden; 
  clip: rect(0 0 0 0);
}

.element__invisible-checkbox[type="checkbox"]:checked + .element__like {
  background-image: url('../../../images/like_checked.svg');
}

.element__invisible-checkbox[type="checkbox"]:hover + .element__like {
  opacity: .5;
}

.element__invisible-checkbox[type="checkbox"]:checked:hover + .element__like {
  opacity: 1;
}